includes:
    - vendor/nunomaduro/larastan/extension.neon
parameters:
    paths:
        - app
    level: 6
    ignoreErrors:
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder#'
